<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>02 v-model 学习</title>
</head>


<!-- 只有在表单中才能使用v-model -->

<body>
    <div id="app">
        <input v-model="message" type="text" />
        <h2 v-if="message=='xd'">我是谢冬</h2>
        <h2 v-else>我不是谢冬</h2>

        <p>------------------</p>
        <h2 v-show="message=='xiedong'">我是v-show</h2>


        <ul>
            <li v-for="(item,key) in list" :key="key">
                {{key+"_______"+item}}
            </li>
        </ul>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                // message:"hello world"
                message: "xdddd",
                check: ["A"],
                num1: "",
                num2: "",
                msg: "  332312  1   ",
                list: ["A", "B", "C"]
            }
        })
    </script>
</body>

</html>